.animatedGradientText {
  position: relative;
  margin: 0 auto;
  display: inline-flex;
  max-width: fit-content;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 1.25rem;
  font-weight: 500;
  backdrop-filter: blur(10px);
  transition: box-shadow 0.5s ease-out;
  overflow: hidden;
}

.withBorder {
  padding: 0.35rem 0.75rem;
}

.gradientOverlay {
  position: absolute;
  inset: 0;
  border-radius: inherit;
  z-index: 0;
  pointer-events: none;
}

.gradientOverlay::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: inherit;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  transform: translate(-50%, -50%);
  background-color: #060010;
  z-index: -1;
}

.textContent {
  display: inline-block;
  position: relative;
  z-index: 2;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
